@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-wh-orange: #F89B24;
  --color-wh-blue: #1D429B;
  --color-wh-black: #231F20;
  --color-wh-lightblue: #A6C3E6;
  --color-wh-grey: #6D6E71;
  --color-wh-teslagrey: #A7A9AC;
  --color-wh-darkblue: #21274E;
}
